<!DOCTYPE html>
<html>
    <head>
        <style>
            .image{
                width: 500px;
                height: 300px;
                border-radius: 100px;
                align-items: center;
                border-color: yellow;
                border-style: solid;
            }



        </style>
        <link rel="stylesheet"href="style.css">

    </head>
    <body style="background-color: black;">
        <img class="image"src="download.jpg" height="400" width="300"><br><br>
        <a href="file2.html">go to file</a>
        <h1>hey i am anindita</h1>



    </body>
</html>
